.File-history {
  flex-grow: 1;
  overflow-x: auto;
  /* padding-left: 24px; */
}

.List {
  list-style: none;
  padding: 0;
}

.List li {
  cursor: pointer;
  padding: 1rem;
  transition: background-color 0.3s ease;
  color: #aaa;
  font-weight: 700;
  width: 90%;
  border-bottom: 1px solid var(--border-color);
  /* border-radius: 8px; */
}

.List li:last-child {
  border-bottom: none;
}

.List li:hover {
  color: #fff;
}

.List li.active, .sidebar-table-name.active {
  background-color: var(--active-bg-blue);
  color: #fff;
  font-weight: bold;
}

.sidebar-table-name {
  display: flex;
  flex-direction: row;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  align-items: center;
}

.sidebar-table-info {
  margin-left: 1rem;
  margin-top: 1rem;
  border-left: 1px solid var(--border-color);
}

.sidebar-table-info.hide {
  height: 0;
  overflow: hidden;
}

li.sidebar-table-info-column {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border: 0;
  justify-content: space-between;
}
.sidebar-table-info-column b {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.25rem;
}
.sidebar-table-info-column span {
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

