.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(92vh - 64px);
  color: white;
}

.banner {
  position: relative;
  padding: 164px;
  text-align: center;
  border-radius: 10px;
  max-width: 600px; 
  background: rgba(0, 0, 0, 0.24);
  box-shadow: 0 4px 20px rgba(178, 172, 172, 0.5);
  border: 1px solid rgba(178, 172, 172, 0.5);
}

.banner h1 {
  font-size: 2.5rem;
  margin: 0 0 10px;
  font-family: 'Archivo';
}

.banner p {
  font-size: 1.2rem;
}

.glass-button {
  background: rgba(0, 135, 255, 0.6); /* Blue with transparency */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s;
}

.glass-button:hover {
  background: rgba(0, 135, 255, 0.8); /* Darken on hover */
}

.description {
  text-align: center;
  margin-top: 30px;
  max-width: 800px; /* Limit width for better aesthetics */
  padding: 0 20px; /* Add some padding for smaller screens */
}

.description h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.description h3 {
  font-size: 1.6rem;
  margin-bottom: 32px;
}

.description p {
  font-size: 1rem;
}
