.toolbar-wrapper h3 {
  margin: 2rem 0;
}

.toolbar {
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #ccc;
  flex-wrap: wrap;
}

.aggregations {
  align-items: center;
  gap: 1rem;
}

.toolbar h3 {
  margin: 0;
  padding: 0;
}

.portal {
  position: relative;
  min-width: max-content;
  background-color: rgb(23, 22, 39);
}

.portal h3 {
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
}

.portal h3.active {
  color: #fff; 
  background-color: rgb(66, 59, 174);
}

.portal-content {
  position: absolute;

  /* left: 0; */ /* add this dynamically*/

  right: 0;
  top: 3rem;

  padding: 2rem 1rem;
  border: 1px solid var(--border-color);
  background-color: rgb(66, 59, 174);
  width: max-content;
  min-width: 25rem;
  box-shadow: 2px 1px 5px #333;
  z-index: 999;
}

.advanced-ctrl {
  padding: 1rem 0.5rem;
  border: 1px solid var(--border-color);
}

.advanced-ctrl .portal {
  width: max-content;
  font-size: 1rem;
}
