.App {
  min-height: 100svh;

  min-width: 916px;
  max-width: 2560px;
  margin: 0 auto;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container {
  display: flex;
  min-height: calc(100vh - 8vh - 64px);
}

/* @media (prefers-reduced-motion: no-preference) { */
/*   .App-logo { */
/*     animation: App-logo-spin infinite 20s linear; */
/*   } */
/* } */

.App-header {
  background-color: rgb(20, 17, 36);
  padding: 20px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid var(--border-color);
  height: 8vh;
}

.App-link {
  color: #61dafb;
  font-weight: 800;
  font-family: var(--header-font), -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
  font-size: 32px;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
