.App {
  /* text-align: center; */
  min-height: 100svh;

  min-width: 100svw;
  max-width: 1680px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(20, 17, 36);
  padding: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid var(--border-color);
  height: 8vh;
}

.App-link {
  color: #61dafb;
  font-weight: 800;
  font-family: var(--header-font), -apple-system, BlinkMacSystemFont, sans-serif;
  text-decoration: none;
  font-size: 32px;
  flex: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
