.Playground {
  padding-left: 32px;
}

.Table-info {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-end;
  font-size: 18px;
}

.query-playground {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 240px;
  font-size: 18px;
  font-family: var(--secondary-font);
  padding: 8px;
}

.query-result {
  margin-top: 16px;
}
